@page "/dashboard"

@using Syncfusion.Blazor.Charts

<div id="grid">
   <div>
       <SfAccumulationChart Title="Mobile Browser Statistics" EnableAnimation="true" EnableSmartLabels="true">
           <AccumulationChartSeriesCollection>
               <AccumulationChartSeries DataSource="@StatisticsDetails" XName="Browser" YName="Users" Name="Browser" ExplodeOffset="12" Explode="true" InnerRadius="60">
                   <AccumulationDataLabelSettings Visible="true" Name="users" Position="AccumulationLabelPosition.Outside">
                       <AccumulationChartDataLabelFont FontWeight="600"></AccumulationChartDataLabelFont>
                   </AccumulationDataLabelSettings>
               </AccumulationChartSeries>
           </AccumulationChartSeriesCollection>
           <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
           <AccumulationChartLegendSettings Visible="@ShowLegend" Background="whitesmoke" Position="LegendPosition.Bottom"></AccumulationChartLegendSettings>
           <AccumulationChartBorder Color="gray" Width="1"></AccumulationChartBorder>
           <AccumulationChartEvents OnAnimationComplete="@AnimationHandler"></AccumulationChartEvents>
       </SfAccumulationChart>
    </div>
    
   <div>
       <SfAccumulationChart Title="Mobile Browser Statistics">
           <AccumulationChartSeriesCollection>
               <AccumulationChartSeries DataSource="@StatisticsDetails" XName="Browser" YName="Users" Name="Browser">
               </AccumulationChartSeries>
           </AccumulationChartSeriesCollection>
           <AccumulationChartLegendSettings Visible="@ShowLegend" Background="whitesmoke"></AccumulationChartLegendSettings>
           <AccumulationChartBorder Color="gray" Width="1"></AccumulationChartBorder>
           <AccumulationChartEvents OnAnimationComplete="@AnimationHandler"></AccumulationChartEvents>
       </SfAccumulationChart>
   </div>

   <div>
       <SfAccumulationChart Title="Mobile Browser Statistics">
           <AccumulationChartSeriesCollection>
               <AccumulationChartSeries DataSource="@StatisticsDetails" XName="Browser" YName="Users" Name="Browser">
               </AccumulationChartSeries>
           </AccumulationChartSeriesCollection>
           <AccumulationChartLegendSettings Visible="@ShowLegend" Background="whitesmoke"></AccumulationChartLegendSettings>
           <AccumulationChartBorder Color="gray" Width="1"></AccumulationChartBorder>
           <AccumulationChartEvents OnAnimationComplete="@AnimationHandler"></AccumulationChartEvents>
       </SfAccumulationChart>
   </div>

    <div>
        <SfChart Width="100%">
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>

            <ChartSeriesCollection>
                <ChartSeries DataSource="@MedalDetails" XName="X" YName="YValue" ColumnSpacing="0.2" ColumnWidth="0.7" Type="ChartSeriesType.Bar">
                </ChartSeries>
                <ChartSeries DataSource="@MedalDetails" XName="X" YName="YValue1" ColumnSpacing="0.2" ColumnWidth="0.2" Type="ChartSeriesType.Bar">
                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>
    </div>
    <div id="item1">
        <SfChart>
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>

            <ChartSeriesCollection>
                <ChartSeries DataSource="@MedalDetails1" Name="Gold" XName="Country" Width="2" Opacity="1" YName="Gold" Type="ChartSeriesType.Column">
                </ChartSeries>
                <ChartSeries DataSource="@MedalDetails1" Name="Silver" XName="Country" Width="2" Opacity="1" YName="Silver" Type="ChartSeriesType.Column">
                </ChartSeries>
                <ChartSeries DataSource="@MedalDetails1" Name="bronze" XName="Country" Width="2" Opacity="1" YName="Bronze" Type="ChartSeriesType.Column">
                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>
    </div>
</div>


@code
{

    public class Statistics
    {
        public string Browser;
        public double Users;
    }

    public List<Statistics> StatisticsDetails = new List<Statistics>
{
        new Statistics { Browser = "Chrome", Users = 37 },
        new Statistics { Browser = "UC Browser", Users = 17 },
        new Statistics { Browser = "iPhone", Users = 19 },
        new Statistics { Browser = "Others", Users = 4  },
        new Statistics { Browser = "Opera", Users = 11 },
        new Statistics { Browser = "Android", Users = 12 },
    };
    public class ChartData
    {
        public string X;
        public double YValue;
        public double YValue1;
    }
    public List<ChartData> MedalDetails = new List<ChartData>
{
        new ChartData { X= "USA", YValue= 46, YValue1=56 },
        new ChartData { X= "GBR", YValue= 27, YValue1=17 },
        new ChartData { X= "CHN", YValue= 26, YValue1=36 },
        new ChartData { X= "UK", YValue= 56,  YValue1=16 },
        new ChartData { X= "AUS", YValue= 12, YValue1=46 },
        new ChartData { X= "IND", YValue= 26, YValue1=16 },
        new ChartData { X= "DEN", YValue= 26, YValue1=12 },
        new ChartData { X= "MEX", YValue= 34, YValue1=32},
    };
    public class ChartData1
    {
        public string Country;
        public double Gold;
        public double Silver;
        public double Bronze;
    }
    public List<ChartData1> MedalDetails1 = new List<ChartData1>
{
        new ChartData1{ Country= "USA", Gold=50, Silver=70, Bronze=45 },
        new ChartData1{ Country="China", Gold=40, Silver= 60, Bronze=55 },
        new ChartData1{ Country= "Japan", Gold=70, Silver= 60, Bronze=50 },
        new ChartData1{ Country= "Australia", Gold=60, Silver= 56, Bronze=40 },
        new ChartData1{ Country= "France", Gold=50, Silver= 45, Bronze=35 },
        new ChartData1{ Country= "Germany", Gold=40, Silver=30, Bronze=22 },
        new ChartData1{ Country= "Italy", Gold=40, Silver=35, Bronze=37 },
        new ChartData1{ Country= "Sweden", Gold=30, Silver=25, Bronze=27 }
    };

    bool ShowLegend = false;
    public void AnimationHandler(IAccAnimationCompleteEventArgs args)
    {
        ShowLegend = true;
    }
}
<style>
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2vw;
    }

        #grid > div {
            font-size: 5vw;
            padding: 2px;
            text-align: center;
        }

    #item1 {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 4;
    }
</style>
